/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/uploads
/storage/*
/public/mix-manifest.json
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
